.login-cliente{
    width:800px;
    margin: 0 auto;
    padding: 50px;
    text-align:center;
}

.cadastro-produto{
    width:800px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

.cadastro-cliente{
    width:600px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

.produtos{
    width:800px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

.usuario{
    width:800px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

.cadastro-usuario{
     width:800px;
    margin: 0 auto;
    padding: 20px;
    text-align:center;
}

.login-usuario{
    width:800px;
    margin: 0 auto;
    padding: 50px;
    text-align:center;
}
